dist/mitamae-x86_64-openbsd filter=lfs diff=lfs merge=lfs -text
dist/mitamae-arm64-openbsd filter=lfs diff=lfs merge=lfs -text
misc !text !filter !merge !diff
misc/dist !text !filter !merge !diff
dist/* filter=lfs diff=lfs merge=lfs -text
dist/* !text !filter !merge !diff
misc/* !text !filter !merge !diff
