[submodule "plugins/mitamae-plugin-resource-cron"]
	path = plugins/mitamae-plugin-resource-cron
	url = https://github.com/itamae-plugins/mitamae-plugin-resource-cron

[submodule "mitamae"]
	path = misc/mitamae
	url = git@the.main.b0x.pw:obsd-mitamae
	branch = mitamae-src
	shallow = true

[submodule "notes"]
	path = misc/notes
	url = git@the.main.b0x.pw:obsd-mitamae
	branch = notes
	shallow = true
[submodule "dist"]
	path = misc/dist
	url = git@the.main.b0x.pw:obsd-mitamae
	branch = dist
	shallow = true

[submodule "example-ruby-infra"]
	path = misc/examples/example-ruby-infra
	url = https://github.com/ruby/ruby-infra-recipe
	shallow = true
[submodule "example-ruby-git"]
	path = misc/examples/example-ruby-git
	url = https://github.com/ruby/git.ruby-lang.org
	shallow = true
[submodule "sorah-cnw"]
	path = misc/examples/sorah-cnw
	url = https://github.com/sorah/cnw
	shallow = true
