#	$OpenBSD: sshd_config,v 1.105 2024/12/03 14:12:47 dtucker Exp $

Port 38322
Port 22

#AddressFamily any
#ListenAddress 0.0.0.0
#ListenAddress ::

PermitRootLogin prohibit-password
AuthorizedKeysFile .ssh/authorized_keys
PubkeyAuthentication yes
HostbasedAuthentication no
PasswordAuthentication no
KbdInteractiveAuthentication no
AllowTcpForwarding no
X11Forwarding no
AllowAgentForwarding no
AllowStreamLocalForwarding no
PermitTTY no
AuthenticationMethods publickey

LoginGraceTime 30s
MaxAuthTries 1
MaxStartups 1:30:10

Banner none
Subsystem sftp /usr/libexec/sftp-server
# LogLevel DEBUG3

KexAlgorithms mlkem768x25519-sha256,sntrup761x25519-sha512,curve25519-sha256,curve25519-sha256@libssh.org,diffie-hellman-group16-sha512,diffie-hellman-group18-sha512,diffie-hellman-group-exchange-sha256
MACs umac-128-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-sha2-512-etm@openssh.com
HostKeyAlgorithms ssh-ed25519,rsa-sha2-256,rsa-sha2-512

Match LocalPort 38322 User root
    RefuseConnection no
    AllowAgentForwarding yes
    AllowStreamLocalForwarding yes
    AllowTcpForwarding yes
    X11Forwarding yes
    PermitTTY yes

Match LocalPort 22 Group _ssh_public
    PermitTTY yes
    RefuseConnection no

Match LocalPort 22
    RefuseConnection yes

Match Invalid-User
    RefuseConnection yes