<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>
<body>
    This is server page of <%= @hostname %>.
    <br/>
    If you have any questions regarding this ip or hostname, please contact <a href="mailto:hello@i.was.abused.by.the.b0x.pw">via email</a>.
    <br/>
    This request have been logged.
</body>
</html>